.Scores{
    display: flexbox;
    justify-content: space-around;
    text-align: center;
    font-size: 30px;
    flex-direction: row;
}
.buttons{
    display: flexbox;
    justify-content: space-around;
    text-align: center;
    margin: 5px;
}
.new-game{
    display: flexbox;
    justify-content:center;
    text-align: center;
    margin: 5px;
}
